<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download File</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <img class="logo" src="/img/download.png" alt="">
    <div class="drag-area active download-area">
        <div class="icon">
            <i class="fa fa-download" aria-hidden="true"></i>
        </div>
        <span>File : <span id="file-name"><%= name %></span></span>
        <header>Click here to Download File</header><br />
        <a href="<%= path %>" id="download-href">
            <button id="download-btn">Download File</button>
        </a>
    </div>

</body>

</html>